$color-dark: #0a0c10;
$text-light: #ffffff;
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text-light;
    
}

body {
    width: 100vw;
    height: 100vh;

    position: relative;
    background: $color-dark;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding-top: 30px;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";

    .video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        video {
            width: 100%;
            height: 100%;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            background: linear-gradient(
                90deg,
                rgba(11, 12, 16, 0.97) 17.71%,
                rgba(11, 12, 16, 0.8) 53.13%,
                rgba(12, 12, 16, 0.97) 91.15%
            );
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        grid-area: "header";

        nav {
            ul {
                display: flex;
                li {
                    list-style: none;
                    margin: 10px;
                }
            }
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.logo {
    img {
        width: 40px;
        margin-right: 20px;
    }
}

.facebook,
.instagram,
.youtube,
.twitter {
    margin: 0 8px;
    img {
        transform: scale(0.9);
    }
}

main {
    display: flex;
    grid-area: "main";
    align-items: center;

    .content {
        z-index: 2;
        > img {
            height: 170px;
        }
        p {
            max-width: 50%;
            margin-top: 18px;
        }
    }

    .main-image {
        position: absolute;
        right: 5vw;
        z-index: 1;
        img {
            height: 90vh;
        }
    }
}
