$color-dark: #0a0c10;
$text-light: #ffffff;
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text-light;
}

body {
    width: 100vw;
    height: 100vh;

    position: relative;
    background: $color-dark;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding-top: 30px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        nav {
            ul {
                display: flex;
                li {
                    list-style: none;
                    margin: 10px;
                }
            }
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }
}

.logo{
    img{
        width: 40px;
        margin-right: 20px;
    }
}

.facebook,
.instagram,
.youtube,
.twitter {
    margin: 0 8px;
    img{
        transform: scale(.9);
    }
}
